/* Cormorant Garamond */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* ROBOTO */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Colores principales */
@font-face {
  font-family: "Nouvel";
  src: url(../fonts/NouvelR.ttf), url(../fonts/NouvelR.woff),
    url(../fonts/NouvelR.woff2);
}
@font-face {
  font-family: "Bickham";
  src: url(../fonts/BickhamScriptProRegular.ttf);
  src: url(../fonts/BickhamScriptProRegular.woff);
  src: url(../fonts/BickhamScriptProRegular.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --negro-profundo: #0d0d0d;
  --blanco-puro: #ffffff;
  --gris-oscuro: #333333;
  --a--hover: #fad3a0;

  /* Colores secundarios (acentos de lujo) */
  --dorado-suave: #c8a165;
  --champagne: #fad3a0;
  --gris-plateado: #b0b0b0;
  --burdeos: #4b2e2d;

  /* Paleta Opcional */
  --verde-esmeralda-suave: #2c5f2d;
  --beige-claro: #e7d9c4;
}
body {
  font-family: "Roboto", sans-serif;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/texturas-fondo/texturagris.jpg");
  opacity: 0.7;
  z-index: -2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
}
p {
  max-width: 70ch;
  line-height: 1.6; /* Mejora la legibilidad */
}
/*--------- HEADER -------*/
header {
  background-color: rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 99;
  /* backdrop-filter: blur(4px); */
}
header.team-header.menu-open {
  height: 82px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 40px;
  background-image: url(../imgs/logo/Logo-ismael-3.png);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  height: 40px;
}
.imagen-logo:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}
.logo-link {
  display: inline-block;
}

.main-nav {
  flex: 6;
  display: flex;
  justify-content: center;
  padding-right: 4rem;
}

.menu-on {
  width: max(600px, 50%);
}

.menu-on-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.menu-on-nav li a {
  font-size: 1.8rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
}

@keyframes from-white-to-champagne {
  100% {
    color: var(--champagne);
  }
}

/* Transición inicial: color blanco */
.menu-on-nav li a {
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Subrayado animado al pasar el cursor */
.menu-on-nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--champagne);
  transition: width 0.3s ease;
}

/* Hover: Subrayado dorado y ligero zoom */
.menu-on-nav li a:hover {
  color: var(--champagne);
  transform: scale(1.05);
}

.menu-on-nav li a:hover::after {
  width: 100%;
}

/* Menú abierto: Mantener color dorado */
header.menu-open .menu-on-nav li a {
  color: var(--champagne);
}

header.menu-open .menu-on-nav li a:hover {
  color: var(--a--hover);
  font-weight: 400;
}

.nav-bar {
  display: none;
}
.highlight {
  color: var(--champagne);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

/* HERO TEAM */
.hero-team {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  position: relative;
}

.hero-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
}

.hero-content h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--blanco-puro);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.7rem;
}

.text-black {
  color: var(--negro-profundo);
}

.text-white {
  color: var(--blanco-puro);
}

.hero-image {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-letter {
  position: absolute;
  left: 10%;
  top: 60%;
  transform: translateY(-50%);
  z-index: 0;
}
.design-letter {
  font-size: 50rem;
  font-family: "Bickham", serif;
  color: var(--negro-profundo);
  opacity: 0.1;
}

/* CRONOLOGIA */
.timeline {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 4rem 9rem;
}
.timeline-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  position: relative;
  width: 100%;
}
.timeline-item.left .timeline-year {
  order: 1;
}
.timeline-item.left .timeline-content {
  order: 2;
}
.timeline-item.right .timeline-year {
  order: 2;
}
.timeline-item.right .timeline-content {
  order: 1;
}
.timeline-year {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
  text-align: center;
}
.timeline-content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  width: 41%;
}
.timeline-item.left .timeline-content::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: var(--negro-profundo);
  top: 50%;
  transform: translateY(-50%);
  right: -100px;
}
.timeline-item.right .timeline-content::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: var(--negro-profundo);
  top: 50%;
  left: -100px;
}
.timeline-item.right {
  justify-content: flex-end;
}
.timeline-summary {
  text-align: center;
  padding: 40px 20px;
}
.timeline-summary p {
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 1920px;
  margin: 0 auto;
}

/* Executive Chef Section */
.executive-chef {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 4rem 9rem;
}
.chef-image {
  flex: 2;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.chef-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}
.chef-content {
  flex: 3;
  padding-left: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.chef-content h1 {
  font-size: 3rem;
  color: var(--negro-profundo);
  padding-bottom: 0.2rem;
}
.chef-content h2 {
  font-size: 2rem;
  color: var(--gris-oscuro);
  margin-bottom: 1rem;
}
.chef-content .chef-phrase {
  font-size: 1.2rem;
  color: var(--champagne);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}
.chef-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--negro-profundo);
  margin-bottom: 1rem;
}

/* Sous Chefs Section */
.sous-chefs {
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
  padding: 4rem 9rem;
}
.sous-chef {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}
.sous-chef-image {
  width: 100%;
  padding-bottom: 1rem;
}
.sous-chef-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.sous-chef-content {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}
.sous-chef-content h1 {
  font-size: 2rem;
  color: var(--negro-profundo);
  margin-bottom: 0.5rem;
}
.sous-chef-content h2 {
  font-size: 1.5rem;
  color: var(--gris-oscuro);
  margin-bottom: 1rem;
}
.sous-chef-content .sous-chef-phrase {
  font-size: 1.2rem;
  color: var(--champagne);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
.sous-chef-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--negro-profundo);
  margin-bottom: 1rem;
}
.separator-image {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator-image img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/* Culinary Team Section */
.culinary-team {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 9rem;
}
.culinary-team h1 {
  font-size: 2.5rem;
  color: var(--negro-profundo);
  margin-bottom: 2rem;
}
.team-image {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 2rem;
}
.team-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.culinary-team p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--negro-profundo);
  margin: 0 auto;
  text-align: justify;
}

/* Chef de Partie Section */
.chef-de-partie {
  display: flex;
  flex-direction: column;
  padding: 4rem 9rem;
}
.chef-de-partie-item {
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
}
.chef-de-partie-item.left .chef-de-partie-image {
  order: 1;
}
.chef-de-partie-item.left .chef-de-partie-content {
  order: 2;
  padding-left: 2rem;
  text-align: left;
}
.chef-de-partie-item.right .chef-de-partie-image {
  order: 2;
}
.chef-de-partie-item.right .chef-de-partie-content {
  order: 1;
  padding-right: 2rem;
  text-align: right;
}
.chef-de-partie-image {
  flex: 1;
  max-width: 30%;
}
.chef-de-partie-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.chef-de-partie-content {
  flex: 2;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}
.chef-de-partie-content h1 {
  font-size: 2rem;
  color: var(--negro-profundo);
  padding-bottom: 0.5rem;
}
.chef-de-partie-content h2 {
  font-size: 1.5rem;
  color: var(--gris-oscuro);
  padding-bottom: 1rem;
}
.chef-de-partie-content .chef-de-partie-phrase {
  font-size: 1.2rem;
  color: var(--champagne);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
}
.chef-de-partie-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--negro-profundo);
  padding-bottom: 1rem;
}
.chef-de-partie-content h1,
.chef-de-partie-content h2,
.chef-de-partie-phrase,
.chef-de-partie-content p {
  max-width: 100%;
}

/* Full Team Section */
.full-team {
  display: flex;
  flex-direction: column;
  padding: 4rem 9rem;
  gap: 2rem;
}

.full-team-top {
  display: flex;
  gap: 2rem;
}

.full-team-top-image {
  flex: 1;
}

.full-team-top-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.full-team-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.full-team-image {
  flex: 1;
  max-width: 50%;
}

.full-team-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.full-team-content {
  flex: 1;
  text-align: left;
}

.full-team-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--negro-profundo);
}

/* FOOTER */
.footer {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem 9rem;
  color: var(--blanco-puro);
}

.footer-container {
  display: flex;
}

.footer-section {
  flex: 1;
}
.footer-section-pages {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.footer-link {
  color: var(--blanco-puro);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-section h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.footer-pages {
  list-style: none;
  padding: 0 0 0 2rem;
}

.footer-pages li {
  padding-bottom: 0.5rem;
}

.footer-pages a {
  font-size: 1.2rem;
  color: var(--blanco-puro);
  text-decoration: none;
}

.footer-socials {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  justify-content: flex-end;
}

.footer-socials img {
  width: 30px;
  height: 30px;
}

.footer-bottom {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-logo img {
  width: 40px;
  height: 40px;
}

.footer-policies {
  display: flex;
  gap: 1rem;
}

.footer-policies a {
  color: var(--blanco-puro);
  text-decoration: none;
}
/* --------- MEDIA QUERYS --------- */
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
  .hero-letter {
    left: 0%;
  }
  .footer {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 960px) {
  .design-letter {
    font-size: 30rem;
  }
  .timeline {
    padding: 4rem 2rem;
  }
  .executive-chef {
    padding: 4rem 2rem;
    flex-flow: column nowrap;
    margin-top: 10rem;
    margin-bottom: 15rem;
    gap: 2rem;
  }
  .chef-content {
    padding-left: 0;
  }
  .chef-content p {
    text-align: justify;
    font-size: 1rem;
  }
  .sous-chefs {
    padding: 4rem 4rem;
  }
  .sous-chef {
    width: 40%;
  }
  .culinary-team {
    padding: 4rem 4rem;
  }
  .culinary-team p {
    font-size: 1rem;
  }
  .chef-de-partie {
    padding: 4rem 4rem;
  }
  .full-team {
    padding: 4rem 4rem;
  }
  .footer-policies a:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .executive-chef {
    margin-top: 15rem;
  }
  .sous-chefs {
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
  }
  .sous-chef {
    width: 100%;
    margin-bottom: 2rem;
  }
  .separator-image {
    display: none;
  }
  .sous-chef-content p {
    text-align: justify;
    font-size: 1rem;
  }

  .chef-de-partie {
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 0rem 2rem;
  }
  .chef-de-partie-item {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .chef-de-partie-item.right .chef-de-partie-image {
    order: 1;
  }
  .chef-de-partie-item.right .chef-de-partie-content {
    order: 2;
  }
  .chef-de-partie-image {
    width: 100%;
    max-width: 100%;
    padding-bottom: 1rem;
  }
  .chef-de-partie-content {
    width: 100%;
    text-align: center;
  }
  .chef-de-partie-item.right .chef-de-partie-content {
    padding-left: 0;
    padding-right: 0;
  }
  .chef-de-partie-content h1,
  .chef-de-partie-content h2,
  .chef-de-partie-phrase,
  .chef-de-partie-content p {
    text-align: center;
  }
  .full-team {
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem 2rem 2rem;
  }
  .full-team-top {
    flex-direction: column;
    width: 100%;
  }
  .full-team-top-image {
    width: 100%;
  }
  .full-team-bottom {
    flex-direction: column-reverse;
    width: 100%;
  }
  .full-team-content {
    width: 100%;
  }
  .full-team-image {
    max-width: 100%;
  }
  .full-team-content p {
    text-align: justify;
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .hero-letter {
    top: 30%;
  }
  .hero-letter::after {
    content: "E";
    position: absolute;
    left: 0;
    top: 140%;
    transform: translateY(-50%);
    font-size: 30rem;
    font-family: "Bickham", serif;
    color: var(--negro-profundo);
    opacity: 0.1;
  }
  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-item.left .timeline-year,
  .timeline-item.right .timeline-year {
    writing-mode: horizontal-tb;
    text-orientation: initial;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .timeline-item.left .timeline-content,
  .timeline-item.right .timeline-content {
    width: 100%;
    padding: 10px 20px;
  }

  .timeline-item.left .timeline-content::before,
  .timeline-item.right .timeline-content::before {
    width: 50px;
    height: 2px;
    top: auto;
    bottom: 100%;
    left: 0;
    transform: translateY(0);
  }

  .timeline-item.right .timeline-content::before {
    left: 0;
  }
  .timeline-item.right .timeline-year {
    order: 1;
  }

  .timeline-item.right .timeline-content {
    order: 2;
  }

  .timeline-summary {
    padding: 0;
    text-align: justify;
  }

  .timeline-summary p {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 100%;
  }
  .footer-socials {
    flex-direction: column;
    align-items: flex-end;
  }
  .footer {
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 450px) {
  .hero-letter::after {
    top: 130%;
  }
}
